<section class="about">
        <div class="container">
            <div class="col-lg-6">
                <div class="template-title text-left">
                    <h2>Про компанію</h2>
                </div>
                <div class="information">
                    <p>Компанія Азія Карго - це повний комплекс логістичних послуг з доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-<span>Україну</span>. Для вашої зручності є тарифи на легкий та важкий куб. Ми працюємо на ринку понад 4 роки, а керівники компанії займаються логістикою вже понад 11 років.</p>
                    <p>Ми прагнемо надати найкращі умови доставки та найкращий сервіс своїм клієнтам. Вибираючи нас - ви обираєте якісну доставку оптимальну за ціною та часом! Переконайтеся у цьому самі!</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="information_img">
                <img src="assets/img/information.png" alt="info">
            </div>
        </div>
</div>
</section>