<section class="advantages container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Чому варто вибрати саме нас?</h2>
        </div>
        <div id="advantages-slider" class="row">
            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-1.svg" alt="icon-advantage">
                </div>
                    <h4 class="advantage__text-box">Митне оформлення вантажу</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-2.svg" alt="icon-advantage">
            </div>
                    <h4 class="advantage__text-box">Страхування вантажу</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-3.svg" alt="icon-advantage">
        </div>
                    <h4 class="advantage__text-box">Перевiрка товара на брак</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-4.svg" alt="icon-advantage">
                </div>
                    <h4 class="advantage__text-box">Доставка в будь-яке місто України</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-5.svg" alt="icon-advantage">
        </div>
                    <h4 class="advantage__text-box">Консолідація на складі</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-6.svg" alt="icon-advantage">
        </div>
                    <h4 class="advantage__text-box">Відповідальне зберігання вантажу</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-7.svg" alt="icon-advantage">
        </div>
                    <h4 class="advantage__text-box">Допомога в оплаті товару</h4>
                </div>
            </div>

            <div class="col-lg-3">
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="assets/img/advantage-8.svg" alt="icon-advantage">
        </div>
                    <h4 class="advantage__text-box">Упаковка, перепакування, палетування вантажу до міжнародного перевезення</h4>
                </div>
            </div>
        </div>
</section>
