<section class="cooperation container-fluid">
    <div class="template-title">
        <h2>Чи готові до співпраці?</h2>
        <h3>Зареєструйте вантаж!</h3>
    </div>
    <div class="container">
        <div class="row first-child">
            <div class="text col-lg-6">
                <p>• Для того, щоб розпочати співпрацю, необхідно оформити вантаж вказавши інформацію про вміст вантажу, його вартість та кількість. А також прикріпивши фотографії до заявки.</p>
                <p>• Якщо потрібна перевірка товару на відповідність кількості, то при оформленні вантажу на нашому сайті вкажіть це у графі "Примітка". Дана послуга платна та складає 3 юаня за одну позицію в замовленні. Будь-які додаткові перевірки вантажу обговорюються індивідуально, зокрема й їх вартість.</p>
                <p>• До відправки вантажу на наш склад в Китаї обов'язково подбайте про те, щоб зробити маркування, сномером Вашого замовлення у нас на сайті, для кожної зовнішньої коробки, щоб ми змогли визначити саме Ваш вантаж. Якщо у Вас немає можливості зробити це самостійно, то попросіть про це свого постачальника.</p>
            </div>
            <div class="col-lg-6">
                <a class="cooperation_img" data-fancybox="gallery" href="assets/img/cooperation-22.png">
                    <img src="assets/img/cooperation-22.png" class="img-fluid"/>
                  </a>
            </div>
        </div>
        <div class="row last-child">
            <div class="col-lg-6">
                <a class="cooperation_img" data-fancybox="gallery-2" href="assets/img/cooperation-11.png">
                    <img src="assets/img/cooperation-11.png" class="img-fluid" />
                  </a>
            </div>
            <div class="text col-lg-6">
                <p>• Після відправки вантажу на наш склад в Китаї, Вам обов'язково потрібно вказати трек-номер для відстеження посилок Китаю для кожної позиції в замовленні. Внести трек-номер можна на сторінці замовлення. Трек-номер це ще один захід для ідентифікації Вашого вантажу на нашому складі.</p>
                <p>• Якщо Ви оформили вантаж за нашою інструкцією та зробили все правильно, то при отриманні Вашого вантажу на складі в Китаї статус замовлення зміниться на "На складі".</p>
                <button type="button" class="btn btn-primary btn-lg">Оформить груз<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
    </div>
</section>