<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-lg-3">
                <div class="footer-logo">
                    <img src="assets/img/logo.svg" class="logo" alt="logo"></div>
                    <div class="footer-adress">
                        <h5>8(800)600-18-69</h5>
                        <a class="email" href="#">info@cargoasia.info</a>
                        <h5>Адреса в Китаї:</h5>
                        <h5>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</h5>
                        <div class="social__img">
                            <img src="assets/img/instagram.svg" class="social media-1" alt="instagram">
                            <img src="assets/img/vkontakte.svg" class="social media-2" alt="vk">
                            <img src="assets/img/telegram.svg" class="social media-3" alt="telegram">
						</div>
                        </div>
                    </div>

					<div class="col-lg-3">
                    <div class="footer-links column-1">
							<h4>Вантажоперевезення</h4>
								<a href="#">Ціни та терміни</a>
								<a href="#">Послуги</a>
								<a href="#">Про компанію</a>
								<a href="#">Контакти</a>
								<a href="#">Оформити вантаж</a>
						</div>
                    </div>

					<div class="col-lg-3">
                    <div class="footer-links column-2">
							<h4>Послуги</h4>
							<a href="#">Викуп товару</a>
							<a href="#">Страхування вантажу</a>
							<a href="#">Оренда складу</a>
							<a href="#">Переказ грошей</a>
						</div>
					</div>

					<div class="col-lg-3">
                    <div class="footer-links column-3">
						<h4>Інформація</h4>
						<a href="#">Відгуки</a>
						<a href="#">Вимоги до вантажу</a>
						<a href="#">Договір-оферта</a>
						<a href="#">Як укласти договір</a>
						<a href="#">Способи оплати послуг</a>
						<a href="#">Документи</a>
						<a href="#">Статті</a>
					</div>
                </div>
            </div>
		</div>
</footer>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>
