<section class="services container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/slide-services-1.png" class="img-fluid" alt="services-variant">
                    </div>
                    <h5 class="slide-title">Викуп товару</h5>
                    <div class="slide-description">Компанія - це повний комплекс логістичних послуг з доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.</div>
                    <div class="slide-buttons">
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                        <div class="slide-box">
                            <div class="slide-img-box">
                                <img src="assets/img/slide-services-2.png" class="img-fluid" alt="services-variant">
                            </div>
                            <h5 class="slide-title">Страхування вантажу</h5>
                            <div class="slide-description">Компанія - це повний комплекс логістичних послуг з доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.</div>
                            <div class="slide-buttons">
                                <button type="button" class="btn btn-secondary">Детальніше</button>
                            </div>
                        </div>
                    </div>
            <div>
                        <div class="slide-box">
                            <div class="slide-img-box">
                                <img src="assets/img/slide-services-3.png" class="img-fluid" alt="services-variant">
                            </div>
                            <h5 class="slide-title">Оренда складу</h5>
                            <div class="slide-description">Компанія - це повний комплекс логістичних послуг з доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.</div>
                            <div class="slide-buttons">
                                <button type="button" class="btn btn-secondary">Детальніше</button>
                            </div>
                        </div>
                    </div>
            <div>
                        <div class="slide-box">
                            <div class="slide-img-box">
                                <img src="assets/img/slide-services-4.png" class="img-fluid" alt="services-variant">
                            </div>
                            <h5 class="slide-title">Переказ грошей</h5>
                            <div class="slide-description">Компанія - це повний комплекс логістичних послуг з доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.</div>
                            <div class="slide-buttons">
                                <button type="button" class="btn btn-secondary">Детальніше</button>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>